* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0 20px;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;

}

#header-img {
    width: auto;
}

#history {
    height: 500px;
    background-color: beige;
}

#about {
    height: 500px;
    background-color:burlywood;
}


#products {
    height: 500px;
    background-color:chartreuse;
}
/* #nav-bar{
    flex-direction: flex-end;
    justify-content: right;
    text-align: right;
    position: fixed;
    top: 0;    
} */

@media (max-width: 768px) {
    #history {
        background-color: crimson;
    }
}