header {
    height: 25vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    flex-direction: flex-end;
   
    text-align: right;
    position: fixed;
    top: 0;

}

#history {
    height: 500px;
    background-color: beige;
}

#about {
    height: 500px;
    background-color:burlywood;
}


#products {
    height: 500px;
    background-color:chartreuse;
}
#nav-bar{
    flex-direction: flex-end;
    justify-content: right;
    text-align: right;
    position: fixed;
    top: 0;

    
}